* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: 14px/23px sans-serif;
  color: #d9d4d4;
  text-align: center;
}
nav {
  position: fixed;
  width: 100%;
  display: flex;
  height: 70px;
  background-color: #9C27B0;
}
nav h1 {
  font-weight: 900;
  font-family: tangerine;
  width: 90px;
  line-height: 50%;
  float: left;
  font-size: 250%;
}
nav ul {
  text-align: center;
  flex: auto;
  padding: 10px 0px;
}
nav ul li {
  display: inline;
  Font: bold 13px Roboto, Arial, sans-serif;
  padding: 0px 13px;
}
nav li a {
  text-decoration: none;
  color: #E1BEE7;
}
#welcome-section {
  padding-top: 20px;
  background-image: url(https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 670px;
}
#About {
  font-size: 276%;
  color: #984da5;
  float: left;
  margin-top: 130px;
  margin-left: 5px;
  }
#welcome-section p {
  font-size: 115%;
  width: 280px;
  padding: 5px 10px;
  margin-top: 240px;
  margin-left: 15px;
  color: white;
  font-style: oblique;
  font-weight: bold;
  background-color: rgba(75, 46, 80, 0.5);
  border-radius: 2px;
  }
#skills {
  border-width: 2px;
  background-color: #212121;
  border-style: dashed;
  color: black;
  margin: 20px 120px;
}
#skills-section {
  background-color: #984da5;
  padding: 20px 0px;
}
#skills {
  color: rgb(230, 229, 227);
  width: fit-content;
  border: 2px dashed #984da5;
  margin: 25px;
  background-color: rgba(75, 46, 80, 0.5);
}
#skills h2 {
  font-size: 180%;
  color: #E1BEE7;
}
#skills h3 {
  color: #9E9E9E;
  font-style: italic;
  padding: 7px 0px;
}
#skills p {
  border-bottom: thin solid #9E9E9E;
  padding: 0px 7px;
}
#projects {
  padding: 12px;
  background-color: rgba(75, 46, 80, 0.5);
}
#My_Portfolio {
  color: white;
  font-size: 300%;
  border: thin outset #984da5;
  background-color: #984da5;
  width: fit-content;
  margin: auto;
  padding: 20px;
  border-radius: 6px;
}
iframe {
  width: 263px;
  height: fit-content;
  border-width: 0px;
}
#projects p {
  font-family: cursive;
  color: #151110;
  font-size: 135%;
  font-weight: bold;
  margin-bottom: 30px;
}
#projects a {
  text-decoration: none;
  color: white;
  background-color: rgba(75, 46, 80, 0.5);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #9C27B0;
}
.project-tile {
  margin-bottom: 45px;
}
.project-tile a img {
  width: 250px;
}
#contact-section {
  background-color: Black;
  padding: 15px 6px;
}
form {
  max-width: fit-content;
  margin: 45px auto;
}
input, textarea {
  display: block;
  padding: 12px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #252323;
  color: white;
}
input:hover, textarea:hover {
  background-color: rgba(75, 46, 80, 0.5);
}
button {
  text-align: right;
  background-color: black;
  font-size: 20px;
  color: white;
  border: thin solid purple;
  border-radius: 5px;
  padding: 10px;
  margin-left: 215px;
}
#contact {
  color: white;
  font-size: 300%;
  border: thin outset #984da5;
  background-color: #984da5;
  width: fit-content;
  margin: auto;
  padding: 20px;
  border-radius: 6px;
}
#social h4 {
  font-size: 165%;
  text-align: left;
  padding-left: 28px;
}
#social p {
  text-align: center;
  padding: 10px;
}
.fa {
  padding: 0px 15px;
  display: inline-block;
  font: 30px/1 FontAwesome;
  font-size: 30px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #9C27B0;
}
footer {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  background-color: #9C27B0;
}
@media only screen
and (min-device-width : 768px) {
  nav ul li {
  padding: 0px 50px;
  font-size: 18px;
}
#welcome-section {
  height: 800px;
}
#welcome-section p {
  max-width: 400px;
  margin-top: 280px;
  margin-left: 40px;
}
#About {
  font-size: 320%;
  float: left;
  margin-top: 160px;
  margin-left: 100px;
}
#skills {
  width: 400px;
  margin: auto;
}
.project-tile a img {
  width: fit-content;
}
iframe {
  width: 560px;
  height: 320px;
}
form {
  max-width: 400px;
}
button {
  margin-left: 325px;
}
#social h4 {
  margin-right: 368px;
  text-align: center;
}
.fa {
  font-size: 50px;
  padding: 0px 25px;
}
}